image: maven:latest

stages: 
  - build
  - test
  - package
  
variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

cache:
  paths:
    - .m2/repository/
    - target/

build:
  stage: build
  script:
    - mvn compile

test: 
  stage: test 
  script: 
    - mvn test 
  
package: 
  stage: package 
  script: 
    - mvn package 
