---
layout: default
title: Home
---

<div class="home">

 <h2 class="logo">Welcome to Design Patterns Stories site.</h2>

<p>Idea behind this site is to describe GoF Design Patterns on a simple way.</p>

<p>Each pattern is described using following triad:</p>

<ul>
  <li><strong>Understand</strong>: describes a pattern with story from real life</li>
  <li><strong>Implement</strong>: referent implementation of the pattern</li>
  <li><strong>Apply</strong>: discuss where pattern can be(or is) applied</li>
</ul>

<p>If you are a junior developer, and want to learn Design Patterns, this site is the place to start.<br />
If you are an intermediate or senior developer, and want to improve existing knowledge about Design Patterns, this site can help you too.</p>

  <div class="post-list">

    {% for post in site.posts limit:5%}

    <article class="post_card post">
      <header class="post_header">
        <h2 class="post_title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h2>
		<!--
        <time class="post_date">{{ post.date | date: "%d %B %Y, %A" }}</time>
		-->
      </header>
      <div class="post_excerpt">
	  
        <p>
          {% if post.description %}
          {{ post.description}}
          {% else %}
          {{ post.excerpt }}
          {% endif %} 
          <a class="read-more" href="{{ post.url | prepend: site.baseurl }}"> »  </a>
        </p> 
      </div>
      <footer class="post_meta">


        {% if post.location %}
        <span class="author-location">
          <div data-icon="ei-location"></div>
          <a href=https://www.google.com/maps/place/{{post.location}}">{{ post.location }}</a>
        </span>
        {% endif %}
        <!--
        {% for category in post.categories %}
        <a href="{{"/category/" | append: category | prepend: site.baseurl }}">
          <data data-icon="ei-archive"></data>
          {{category}}</a>
        {% endfor %}
        -->

        <!--
        {% if post.author %}
        <span class="author_meta">
          <img src="{{site.baseurl}}/assets/img/{{post.author}}.jpg"></img>
          <span>David Lin</span>
        </span>
        {% endif %}
        -->

        <!--p class="readmore">
          <a href=""><data data-icon="ei-arrow-right"></data>Read this article  </a>
        </p-->
      </footer>
      <hr/>
    </article>
    {% endfor %}
	
	<!--
	<article class="post_card post">
		<p>
			{% for page in site.pages %}
			  {% if page.tag == 'pattern' %}  
				<h3><a href="{{ site.baseurl }}{{ page.permalink }}">{{ page.title }}</a></h3>
				<!--
				<p>page.url {{ page.url }}</p>
				<p>site.baseurl {{ site.baseurl }}</p>
				<p>page.title {{ page.title }}</p>
				<p>page.permalink {{ page.permalink }}</p>
				<p>page.tag {{ page.tag }}</p>-->
		<!--	  {% endif %}
			{% endfor %}
		</p> 
	</article> -->
	
    <div class="pagination older-post"><a href="./archive"><data data-icon="ei-arrow-right"></data> Archive  </a></div>
  </div>
</div>
