---
layout: default
title: Home
---

<div class="home">

 <h2 class="logo">Welcome to Design Patterns Stories site.</h2>

<p>Idea behind this site is to describe GoF Design Patterns on a simple way.</p>

<p>Each pattern is described using following triad:</p>

<ul>
  <li><strong>Understand</strong>: describes a pattern with story from real life</li>
  <li><strong>Implement</strong>: referent implementation of the pattern</li>
  <li><strong>Apply</strong>: discuss where pattern can be(or is) applied</li>
</ul>

<p>If you are a junior developer, and want to learn Design Patterns, this site is the place to start.<br />
If you are an intermediate or senior developer, and want to improve existing knowledge about Design Patterns, this site can help you too.</p>

<hr>



<a href="https://leanpub.com/design-patterns-stories">
  <img src="https://s3.amazonaws.com/titlepages.leanpub.com/design-patterns-stories/hero?1546636812" alt="Design Patterns Stories Book" >
</a>


<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://fractus.us7.list-manage.com/subscribe/post?u=1cc49a89b2e7268b56649cc5f&amp;id=d4705b3ba9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe to our mailing list</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1cc49a89b2e7268b56649cc5f_d4705b3ba9" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->



  <div class="post-list">

    {% for post in site.posts limit:5%}

    <article class="post_card post">
      <header class="post_header">
        <h2 class="post_title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h2>
		<!--
        <time class="post_date">{{ post.date | date: "%d %B %Y, %A" }}</time>
		-->
      </header>
      <div class="post_excerpt">
	  
        <p>
          {% if post.description %}
          {{ post.description}}
          {% else %}
          {{ post.excerpt }}
          {% endif %} 
          <a class="read-more" href="{{ post.url | prepend: site.baseurl }}"> »  </a>
        </p> 
      </div>
      <footer class="post_meta">


        {% if post.location %}
        <span class="author-location">
          <div data-icon="ei-location"></div>
          <a href=https://www.google.com/maps/place/{{post.location}}">{{ post.location }}</a>
        </span>
        {% endif %}
        <!--
        {% for category in post.categories %}
        <a href="{{"/category/" | append: category | prepend: site.baseurl }}">
          <data data-icon="ei-archive"></data>
          {{category}}</a>
        {% endfor %}
        -->

        <!--
        {% if post.author %}
        <span class="author_meta">
          <img src="{{site.baseurl}}/assets/img/{{post.author}}.jpg"></img>
          <span>David Lin</span>
        </span>
        {% endif %}
        -->

        <!--p class="readmore">
          <a href=""><data data-icon="ei-arrow-right"></data>Read this article  </a>
        </p-->
      </footer>
      <hr/>
    </article>
    {% endfor %}
	
	<!--
	<article class="post_card post">
		<p>
			{% for page in site.pages %}
			  {% if page.tag == 'pattern' %}  
				<h3><a href="{{ site.baseurl }}{{ page.permalink }}">{{ page.title }}</a></h3>
				<!--
				<p>page.url {{ page.url }}</p>
				<p>site.baseurl {{ site.baseurl }}</p>
				<p>page.title {{ page.title }}</p>
				<p>page.permalink {{ page.permalink }}</p>
				<p>page.tag {{ page.tag }}</p>-->
		<!--	  {% endif %}
			{% endfor %}
		</p> 
	</article> -->
	
    <div class="pagination older-post"><a href="./archive"><data data-icon="ei-arrow-right"></data> Archive  </a></div>
  </div>
</div>
